1.* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #222;
    color: white;
}

h1 {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
}

#gameArea {
    width: 90%;
    max-width: 500px;
    height: 500px;
    margin: 20px auto;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#target {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: limegreen;
    color: white;
    cursor: pointer;
}

button:hover {
    background: green;
}
